
<p>Chat de ecommerce</p>
<div id="div-msgs" style="border: 2px solid red;">
    Loading...
</div>

<br /><br />

<hr style="border-color: rgb(29, 29, 195); border-widht: 2px; height: 5px">

<div>
    <p>Ingrese su mensaje</p>
    <input id="input-msg" type="text" placeholder="Ingrese algo...">
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="/js/test-chat.js"></script>